---
version: "3.7"
services:
  db:
    image: postgres:${POSTGRES_IMAGE_TAG:-15}
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - "db-data:/var/lib/postgresql/data"
      # mount db creation script in place for bootstrap
      - "./config/db:/docker-entrypoint-initdb.d"
    networks:
      - internal


  femr:
    image: ghcr.io/uwcirg/cosri-patientsearch:${FEMR_IMAGE_TAG:-develop}
    env_file:
      femr.env
    environment:
      APPLICATION_TITLE: ISACC
      LAUNCH_AFTER_PATIENT_CREATION: "true"
      ENABLE_PROVIDER_FILTER: "true"
      ENABLE_FILTER_FOR_TEST_PATIENTS: "true"
      FILTER_FOR_TEST_PATIENTS_LABEL: "Include test recipients"
      MORE_MENU: ""
      NEED_PATIENT_BANNER: "true"
      NEW_PATIENT_EXTENSIONS: '[{"url": "http://isacc.app/time-of-last-unfollowedup-message", "valueDateTime": "2073-01-01T00:00:00.0+00:00"}]'
      OIDC_AUTHORIZE_URL: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/auth"
      OIDC_CLIENT_ID: femr_openid_client
      OIDC_ISSUER: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR"
      OIDC_REDIRECT_URIS: "https://keycloak.${BASE_DOMAIN:-localtest.me}/oidc_callback"
      OIDC_USERINFO_URI: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/userinfo"
      OIDC_TOKEN_URI: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/token"
      OIDC_TOKEN_INTROSPECTION_URI: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/token/introspect"
      # TODO change to INTERNAL_FHIR_API
      # TODO switch to external API (requiring auth)
      MAP_API: "http://fhir-internal:8080/fhir/"
      SEARCH_TITLE_TEXT: "Recipient Search"
      # FHIR URL passed to SoF client
      SOF_HOST_FHIR_URL: 'https://fhirwall.${BASE_DOMAIN:-localtest.me}/fhir'
      SOF_CLIENTS: '[{"id":"ENROLLMENT", "label":"Enrollment", "launch_url":"https://enrollment.${BASE_DOMAIN:-localtest.me}/launch.html"},{"id":"MESSAGING", "label":"Messaging", "launch_url":"https://messaging.${BASE_DOMAIN:-localtest.me}/launch.html"}]'
      LOGSERVER_URL: "https://logs.${BASE_DOMAIN:-localtest.me}"
      REDIS_URL: redis://redis:6379/1
      MY_PATIENTS_FILTER_LABEL: "Recipients I am following"
      DASHBOARD_COLUMNS: >-
        [
        {"expr":"$$.identifier[?(@.system=='http://isacc.app/user-id')].value","label":"ISACC Study ID","sortBy":"identifier"},
        {"expr":"$$.name[0].given[0]","label":"First Name"},
        {"expr":"$$.name[0].family","label":"Last Name"},
        {"expr":"$$.birthDate","label":"Birth Date"},
        {"dataType":"timeAgo","defaultSort":"asc","expr":"$$.extension[?(@.url=='http://isacc.app/time-of-last-unfollowedup-message')].valueDateTime","label":"Time Since Reply","sortBy":"time-of-last-unresponded-message"},
        {"dataType":"date","expr":"$$.extension[?(@.url=='http://isacc.app/date-time-of-next-outgoing-message')].valueDateTime","label":"Next Message","sortBy":"date-time-of-next-outgoing-message"},
        {"expr":"$$.generalPractitioner[0].display","label":"Primary Author","sortBy":"general-practitioner"}
        ]

    depends_on:
      - fhirwall
      - keycloak
      - logs
      - redis
      - enrollment
      - messaging
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.femr-${COMPOSE_PROJECT_NAME}.rule=Host(`femr.${BASE_DOMAIN:-localtest.me}`)"
      - "traefik.http.routers.femr-${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.femr-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.routers.femr-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt"
    networks:
      - ingress
      - internal


  fhir:
    image: hapiproject/hapi:${FHIR_IMAGE_TAG:-v5.5.1}
    environment:
      SPRING_CONFIG_LOCATION: file:///opt/application.yaml
      spring.datasource.url: jdbc:postgresql://db:5432/hapifhir
      spring.datasource.username: postgres
      spring.datasource.password: postgres
      spring.datasource.driverClassName: org.postgresql.Driver
      spring.jpa.hibernate.dialect: org.hibernate.dialect.PostgreSQL94Dialect

      # make URLs relative to fEMR for pagination
      # TODO remove when fEMR can rewrite URLs
      hapi.fhir.server_address: 'https://femr.${BASE_DOMAIN:-localtest.me}/fhir/'
    volumes:
      - "./config/hapi/application.yaml:/opt/application.yaml:ro"
    depends_on:
      - db
    networks:
      internal:
        aliases:
          - fhir-internal

  fhirwall:
    image: ghcr.io/uwcirg/jwt-proxy:${PROXY_IMAGE_TAG:-latest}
    env_file:
      fhirwall.env
    environment:
      OIDC_AUTHORIZE_URL: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/auth"
      OIDC_TOKEN_URI: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/token"
      OIDC_TOKEN_INTROSPECTION_URI: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/token/introspect"
      UPSTREAM_SERVER: "http://fhir-internal:8080"
      JWKS_URL: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth/realms/fEMR/protocol/openid-connect/certs"
      PATH_WHITELIST: /fhir/metadata,/fhir/.well-known/smart-configuration
    labels:
      - "traefik.enable=true"

      # add CORS middleware, configured to return `Access-Control-Allow-Origin: *`
      # NB accessControlAllowOrigin is deprecated, but not noted in docs
      # https://github.com/traefik/traefik/issues/8796
      - "traefik.http.middlewares.fhirwall-${COMPOSE_PROJECT_NAME}-cors.headers.accessControlAllowOriginList=*"
      # allow all verbs used by FHIR REST
      - "traefik.http.middlewares.fhirwall-${COMPOSE_PROJECT_NAME}-cors.headers.accessControlAllowMethods=HEAD,GET,OPTIONS,PATCH,POST,PUT,DELETE"
      - "traefik.http.middlewares.fhirwall-${COMPOSE_PROJECT_NAME}-cors.headers.accessControlAllowHeaders=Authorization,Origin,Content-Type,Accept,Cache-Control"
      - "traefik.http.routers.fhirwall-${COMPOSE_PROJECT_NAME}.middlewares=fhirwall-${COMPOSE_PROJECT_NAME}-cors"

      - "traefik.http.routers.fhirwall-${COMPOSE_PROJECT_NAME}.rule=Host(`fhirwall.${BASE_DOMAIN:-localtest.me}`)"
      - "traefik.http.routers.fhirwall-${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.fhirwall-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.routers.fhirwall-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt"
    depends_on:
      - fhir
    networks:
      - ingress
      - internal


  keycloak:
    image: quay.io/keycloak/keycloak:${KEYCLOAK_IMAGE_TAG:-15.0.2}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak-${COMPOSE_PROJECT_NAME}.rule=Host(`keycloak.${BASE_DOMAIN:-localtest.me}`)"
      - "traefik.http.routers.keycloak-${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.keycloak-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.routers.keycloak-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt"
    entrypoint:
      # override default keycloak docker entrypoint script with our own
      - /opt/jboss/tools/docker-entrypoint-override.sh
      - /opt/jboss/tools/docker-entrypoint.sh
    command:
      - "-b"
      - "0.0.0.0"
      - "-Dkeycloak.migration.action=import"
      # TODO use dir migration provider (`keycloak.migration.provider=dir`)
      # https://github.com/keycloak/keycloak-documentation/blob/master/server_admin/topics/export-import.adoc
      - "-Dkeycloak.migration.provider=singleFile"
      - "-Dkeycloak.profile.feature.upload_scripts=enabled"
      - "-Dkeycloak.migration.file=/opt/jboss/keycloak/realm-data.json"
      - "-Dkeycloak.migration.strategy=IGNORE_EXISTING"
    environment:
      KEYCLOAK_FRONTEND_URL: "https://keycloak.${BASE_DOMAIN:-localtest.me}/auth"
      PROXY_ADDRESS_FORWARDING: "true"
      DB_VENDOR: postgres
      DB_ADDR: db
      DB_PORT: 5432
      DB_DATABASE: keycloak
      DB_USER: postgres
      DB_PASSWORD: postgres
      # https://nvd.nist.gov/vuln/detail/CVE-2021-44228
      LOG4J_FORMAT_MSG_NO_LOOKUPS: "true"

      # environment variables used to configure docker-entrypoint-override.sh
      __KEYCLOAK_INPUT_CONFIG: /tmp/realm-data.json
      __KEYCLOAK_OUTPUT_CONFIG: /opt/jboss/keycloak/realm-data.json
    env_file:
      - keycloak.env
    volumes:
      - "./config/keycloak/docker-entrypoint-override.sh:/opt/jboss/tools/docker-entrypoint-override.sh:ro"
      - "./config/keycloak/realm-data.json:/tmp/realm-data.json"
      - "./config/keycloak/jboss-logging-config.cli:/opt/jboss/startup-scripts/jboss-logging-config.cli"
    depends_on:
      - db
    networks:
      - ingress
      - internal


  logs:
    image: postgrest/postgrest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.logs-${COMPOSE_PROJECT_NAME}.rule=Host(`logs.${BASE_DOMAIN:-localtest.me}`)"
      - "traefik.http.routers.logs-${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.logs-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.routers.logs-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt"
    environment:
      PGRST_DB_URI: postgres://postgres:postgres@db:5432/app_db
      PGRST_DB_SCHEMA: api
      PGRST_DB_ANON_ROLE: web_anon
    env_file:
      - logs.env
    depends_on:
      - db
    networks:
      - ingress
      - internal


  redis:
    image: redis
    networks:
      - internal


  enrollment:
    image: ghcr.io/uwcirg/isacc-messaging-client-sof:${ENROLLMENT_IMAGE_TAG:-latest}
    environment:
      REACT_APP_DASHBOARD_URL: "https://femr.${BASE_DOMAIN:-localtest.me}"
      REACT_APP_CLIENT_ID: enrollment
    env_file:
      - messaging.env
    depends_on:
      - fhir
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.enrollment-${COMPOSE_PROJECT_NAME}.rule=Host(`enrollment.${BASE_DOMAIN:-localtest.me}`)"
      - "traefik.http.routers.enrollment-${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.enrollment-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.routers.enrollment-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt"
    networks:
      - ingress

  messaging:
    image: ghcr.io/uwcirg/isacc-messaging-client-sof:${MESSAGING_IMAGE_TAG:-latest}
    environment:
      REACT_APP_DASHBOARD_URL: "https://femr.${BASE_DOMAIN:-localtest.me}"
      REACT_APP_CLIENT_ID: messaging
    env_file:
      - messaging.env
    depends_on:
      - fhir
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.messaging-${COMPOSE_PROJECT_NAME}.rule=Host(`messaging.${BASE_DOMAIN:-localtest.me}`)"
      - "traefik.http.routers.messaging-${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.messaging-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.routers.messaging-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt"
    networks:
      - ingress

  messagingservice:
    image: ghcr.io/uwcirg/isacc-messaging-service:${MESSAGINGSERVICE_IMAGE_TAG:-latest}
    environment:
      REQUEST_CACHE_URL: redis://redis:6379/1
      SESSION_REDIS: redis://redis:6379/0
      PREFERRED_URL_SCHEME: https
      ACTIVE_PATIENT_FLAG: "true"
      REACTIVATE_PATIENT: "true"
      FHIR_URL:  "http://fhir-internal:8080/fhir/"
      LOGSERVER_URL: "https://logs.${BASE_DOMAIN:-localtest.me}"
      TWILIO_WEBHOOK_CALLBACK: "https://messagingservice.${BASE_DOMAIN:-localtest.me}"
      # Define location of model to use ML for incoming SMS "urgency"
      # Commented out to avoid filling logs with file not found noise
      # TORCH_MODEL_PATH: /opt/app/config/models/model_for_isacc
      ISACC_NOTIFICATION_EMAIL_SENDER_NAME: noreply@femr.${BASE_DOMAIN:-localtest.me}
      ISACC_SUPPORT_EMAIL: ccstudyteam@uw.edu

      ISACC_APP_URL: "https://femr.${BASE_DOMAIN:-localtest.me}"
    env_file:
      - messagingservice.env
    volumes:
      - ./config/messagingservice:/opt/app/config:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.messagingservice-${COMPOSE_PROJECT_NAME}.rule=Host(`messagingservice.${BASE_DOMAIN:-localtest.me}`)"
      - "traefik.http.routers.messagingservice-${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
      - "traefik.http.routers.messagingservice-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.routers.messagingservice-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt"
    networks:
      - ingress
      - internal
    depends_on:
      - redis

volumes:
  db-data: {}


networks:
  # internal network for backing services
  internal:

  # ingress network
  ingress:
    external: true
    name: external_web
